<div class="bg-light bg-gradient d-flex justify-content-center align-items-center my-5 rounded-1 mx-4">
<%= form_with model: discard, class:"row g-3 bg-light rounded-1 py-3 px-3" do |form| %>
  <% if discard.errors.any? %>
    <div style="color: red" class="col-md-12">
      <h2><%= pluralize(discard.errors.count, "error") %> proibiram este descarte de ser salvo:</h2>

      <ul>
        <% discard.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="col-md-10 col-sm-12">
      <%= form.label :description, "Descrição", class:"form-label" %>
      <%= form.text_area :description, class:"form-control"%>
    </div>
    <div class="col-md-10 col-sm-12">
      <%= form.label :date, "Data", class:"form-label" %>
      <%= form.date_field :date, class:"form-control"%>
    </div>
    <div class="col-md-10 col-sm-12">
      <%= form.label :receiver_id, "Receptor",class:"form-label" %>
      <%= form.select(:receiver_id, 
                       options_for_select(Receiver.all.map{ | receiver | [ receiver.email, receiver.id ] }),
                       {prompt: "Selecione um receptor"},
                       {:class=>"form-select"}) %>
    </div>
   
    <div class="col-md-12 d-flex justify-content-end">
      <%= form.submit "Enviar", class:"btn btn-primary" %>
    </div>
<% end %>
</div>