<div class="col-md-4 col-sm-12 bg-light bg-gradient d-flex justify-content-center align-items-center my-5 rounded-1 mx-4">
<%= form_with model: receiver, class:"row g-3 bg-light rounded-1 py-4 px-4" do |form| %>
  <% if receiver.errors.any? %>
    <div style="color: red" class="col-md-12">
      <h2><%= pluralize(receiver.errors.count, "error") %> proibiram este receptor de ser salvo:</h2>

      <ul>
        <% receiver.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="col-md-10 col-sm-12">
      <%= form.label :email, class:"form-label" %>
      <%= form.text_field :email, class:"form-control"%>
    </div>
    <div class="col-md-12 col-sm-12">
      <%= form.label :name, "Nome", class:"form-label" %>
      <%= form.text_field :name, class:"form-control"%>
    </div>
    <div class="col-md-2 col-sm-12">
      <%= form.label :cep,"CEP", class:"form-label" %>
      <%= form.number_field :cep, class:"form-control"%>
    </div>
    <div class="col-md-2 col-sm-12">
      <%= form.label :state, "Estado", class:"form-label" %>
      <%= form.text_field :state, class:"form-control"%>
    </div>
    <div class="col-md-8 col-sm-12">
      <%= form.label :city, "Cidade", class:"form-label" %>
      <%= form.text_field :city, class:"form-control"%>
    </div>
    <div class="col-md-8 col-sm-12">
      <%= form.label :street, "Rua",class:"form-label" %>
      <%= form.text_field :street, class:"form-control"%>
    </div>
    <div class="col-md-3 col-sm-12">
      <%= form.label :number, "Número",class:"form-label" %>
      <%= form.number_field :number, class:"form-control"%>
    </div>
    <div class="col-md-12 col-sm-12">
      <%= form.label :complement, "Complemento",class:"form-label" %>
      <%= form.text_field :complement, class:"form-control"%>
    </div>
    <div class="col-md-10 col-sm-12">
      <%= form.label :link, class:"form-label" %>
      <%= form.text_field :link, class:"form-control"%>
    </div>
    <div class="col-md-10">
      <%= form.label :category_id, "Categoria",class:"form-label" %>
      <%= form.select(:category_id, 
                       options_for_select(Category.all.map{ | category | [ category.name, category.id ] }),
                       {prompt: "Selecione uma categoria"},
                       {:class=>"form-select"}) %>
    </div>
    <div class="col-md-10">
      <%= form.label :residue_id, "Resíduo",class:"form-label" %>
      <%= form.select(:residue_id, 
                       options_for_select(Residue.all.map{ | residue | [ residue.title, residue.id ] }),
                       {prompt: "Selecione os resíduos"},
                       {:class=>"form-select select2"}) %>
    </div>
    <div class="col-md-10 col-sm-12">
      <div class="form-check">
        <%= form.label :condition, "Condição", class:"form-check-label"%>
        <%= form.check_box :condition, class:"form-check-input" %>
      </div>
      <div class="form-check">
        <%= form.label :truly_linfo, class:"form-check-label" %>
        <%= form.check_box :truly_linfo, class:"form-check-input" %>
      </div>
      <div class="form-check">
        <%= form.label :approved, "Aprovado",class:"form-check-label" %>
        <%= form.check_box :approved, class:"form-check-input" %>
      </div>
    </div>
    <div class="col-md-12 d-flex justify-content-end">
      <%= form.submit "Enviar", class:"btn btn-primary" %>
    </div>
<% end %>
</div>