<div id="<%= dom_id receiver %>">
  <p>
    <strong>Name:</strong>
    <%= receiver.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= receiver.email %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= receiver.condition %>
  </p>

  <p>
    <strong>Truly linfo:</strong>
    <%= receiver.truly_linfo %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= receiver.cep %>
  </p>

  <p>
    <strong>State:</strong>
    <%= receiver.state %>
  </p>

  <p>
    <strong>City:</strong>
    <%= receiver.city %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= receiver.street %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= receiver.number %>
  </p>

  <p>
    <strong>Complement:</strong>
    <%= receiver.complement %>
  </p>

  <p>
    <strong>Approved:</strong>
    <%= receiver.approved %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= receiver.link %>
  </p>

</div>
