<div class="col-md-4 col-sm-12 bg-light bg-gradient d-flex justify-content-center align-items-center my-5 rounded-1 mx-4">
  <%= form_with model: @user, url: account_path, method: :put, class:"row g-3 bg-light rounded-1 py-4 px-4" do |form| %>
    <%= render partial: "shared/form_errors", locals: { object: form.object } %>
    <div class="col-sm-12 ">
      <%= form.label :email, "Email atual", class:"form-label" %>
      <%= form.email_field :email, disabled: true, readonly: true, class:"form-control" %>
    </div>
    <div class="col-sm-12">
      <%= form.label :unconfirmed_email, "Novo Email", class:"form-label" %>
      <%= form.text_field :unconfirmed_email, class:"form-control" %>
    </div>
    <div class="col-sm-12">
      <%= form.label :password, "Nova senha", class:"form-label" %>
      <%= form.password_field :password, class:"form-control" %>
      <div class="form-text">Deixe em branco se não deseja alterá-la</div>
    </div>
    <div class="col-sm-12">
      <%= form.label :password_confirmation, "Confirmação da senha", class:"form-label" %>
      <%= form.password_field :password_confirmation, class:"form-control" %>
      <div class="form-text">Deixe em branco se não alterar a senha atual</div>
    </div>
    <hr/>
    <div class="col-sm-12">
      <%= form.label :current_password, "Senha atual", class:"form-label" %>
      <%= form.password_field :current_password, required: true, class:"form-control" %>
      <div class="form-text">Para atualizar a conta, confirme a senha atual.</div>
    </div>
    <div class="col-sm-12">  
      <%= form.submit "Atualizar conta", class:"btn btn-primary" %>
    </div>
  <% end %>
</div>

<% if @active_sessions.any? %> 
          <!-- Button trigger modal -->
          <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center my-5 rounded-1 mx-4">
            <div class="col-sm-12">  
              <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Sessões ativas
              </button>
            </div>
          </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sessões ativas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body table">
                    <table class=" table-responsive table-striped table-hover align-middle">
                      <thead>
                        <tr>
                          <th scope='col'>User Agent</th>
                          <th scope='col'>Endereço de IP</th>
                          <th scope='col'>Logado em</th>
                          <th scope='col'>Ações</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%= render @active_sessions %>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <div class="d-flex justify-content-center my-5">
                      <%= button_to "Sair de todas as sessões", destroy_all_active_sessions_path, method: :delete, class:"btn btn-danger" %>
                    </div>
                  </div>
                </div>
              </div>
      <% end %>


