<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light col-12">
  <div class="container-fluid">
    <a class="navbar-brand" href="/account">WasteManagement</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Meu perfil", account_path,method: :get, class:"nav-link" %>

        </li>
        <li class="nav-item">
          <%= link_to "Categorias", categories_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Receptores", receivers_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Resíduos", residues_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Descartes", discards_path, class:"nav-link" %>
        </li>
      </ul>
       <%= button_to "Sair", active_session_path(session[:current_active_session_id]),method: :delete, class:"d-flex btn btn-outline-danger" %>
    </div>
  </div>
</nav>