<%= form_with model: residue, class:"row g-3 bg-light rounded-1 px-4 py-4 my-4 mx-4" do |form| %>
  <% if residue.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(residue.errors.count, "error") %> prohibited this residue from being saved:</h2>

      <ul>
        <% residue.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-8">
    <%= form.label :title, "Título", class:"form-label" %>
    <%= form.text_field :title, class:"form-control", required: true%>
  </div>
  <div class="col-md-4">
    <%= form.label :subtitle, "Subtítulo", class:"form-label" %>
    <%= form.text_field :subtitle, class:"form-control", required: true%>
  </div>
  <div class="col-md-12">
    <%= form.label :content, "Conteúdo", class:"form-label" %>
    <%= form.text_area :content, class:"form-control"%>
  </div>
  <div class="col-md-12">
    <%= form.label :description, "Descrição", class:"form-label" %>
    <%= form.text_area :description, class:"form-control"%>
  </div>
  <div class="col-md-4 ">
    <%= form.label :link, class:"form-label" %>
    <%= form.text_field :link, class:"form-control"%>
  </div>
  <div class="col-md-4 ">
    <%= form.label :buttonContent, "Conteúdo do botão", class:"form-label" %>
    <%= form.text_field :buttonContent, class:"form-control"%>
  </div>
  <div class="col-md-4 ">
    <%= form.label :slug, class:"form-label" %>
    <%= form.text_field :slug, class:"form-control"%>
  </div>
  <div class="col-md-4 ">
    <%= form.label :image, "Imagem", class:"form-label" %>
    <%= form.file_field :image, class:"form-control"%>
  </div>

  <div class="col-12  d-flex justify-content-end">
    <%= form.submit "Enviar", class:"btn btn-primary" %>
  </div>
<% end %>
