<div id="<%= dom_id residue %>">
  <p>
    <strong>Title:</strong>
    <%= residue.title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= residue.subtitle %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= residue.content %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= residue.description %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= residue.link %>
  </p>

  <p>
    <strong>Buttoncontent:</strong>
    <%= residue.buttonContent %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= residue.slug %>
  </p>

</div>
