<!DOCTYPE html>

<html >
  <head>
    <title>WasteManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
 <%= render partial:"shared/navbar" if session[:current_active_session_id].present? %>
 
 <%= render partial: "shared/notice", locals: { flash: flash } %>
  <body >
    <div class="mt-5 d-flex flex-column bg-primary justify-content-evenly align-items-center">
    <%= yield %>
    </div>
  </body>
</html>
